$fonts-path: '/static/fonts/';

@font-face {
  $font-name: 'regular';
  font-family: 'Regular';
  font-display: swap;
  src:
    /* IE9*/
    url($fonts-path + $font-name + '/webfont.eot');
  src:
    /* IE6-IE8 */
    url($fonts-path + $font-name + '/webfont.eot?#iefix') format('embedded-opentype'),
    url($fonts-path + $font-name + '/webfont.woff2') format('woff2'),
    /* chrome、firefox */
    url($fonts-path + $font-name + '/webfont.woff') format('woff'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url($fonts-path + $font-name + '/webfont.ttf') format('truetype'),
    /* iOS 4.1- */
    url($fonts-path + $font-name + '/webfont.svg#Alibaba-PuHuiTi-Regular') format('svg');
}

.Regular {
  font-family: "Regular", sans-serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ali图标项目
// https://www.iconfont.cn/manage/index?manage_type=myprojects&projectId=2049434
@font-face {
  font-family: 'hniecs-iconfont';  /* project id 2049434 */
  src: url('//at.alicdn.com/t/font_2049434_cvh1ld9pzx7.eot');
  src: url('//at.alicdn.com/t/font_2049434_cvh1ld9pzx7.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2049434_cvh1ld9pzx7.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2049434_cvh1ld9pzx7.woff') format('woff'),
  url('//at.alicdn.com/t/font_2049434_cvh1ld9pzx7.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2049434_cvh1ld9pzx7.svg#hniecs-iconfont') format('svg');
}
.hniecs-iconfont {
  font-family: "hniecs-iconfont", sans-serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
