html, body {
  margin: 0;
  padding: 0;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(31, 154, 255, 0.3);
  transition: .2s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(31, 154, 255, 0.6);
}
