/**
 * @desc      特效，可用@extend继承
 * @author    yijie
 * @date      2020-09-12
 * @logs[0]   yijie 2020-09-12 创建文件
 * @logs[1]   yijie 2020-09-12 添加圆圈阴影
 */

// 多彩按钮
@keyframes animate {
  0% {
    background-position: 0; /*修改背景定位，实现渐变色炫光*/
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
.colorful-streamer-button {
  $animate-time: 10s;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(
      90deg, #03a9f4, #0347f4, #6703f4,
      #03a9f4, #0347f4, #6703f4, #03a9f4);
  border-radius: 60px;
  background-size: 400%;
  z-index: 1;

  animation: animate $animate-time linear infinite alternate;
  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: -5px; left: -5px;
    right: -5px; bottom: -5px;

    background: linear-gradient(
        90deg, #03a9f4, #0347f4, #6703f4, #03a9f4,
        #0347f4, #6703f4, #03a9f4);

    background-size: 400%;
    filter: blur(20px);
    opacity: 1;
    animation: animate $animate-time linear infinite;

    transition: 1s;
  }
}

// 阴影特效
@mixin black-shandow-after($shadow-color: black, $shandow-range: 100px ,$z-index: 1) {
  z-index: $z-index;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;

  pointer-events: none;
  box-shadow: 0 0 $shandow-range $shadow-color inset;
}
