/**
 * @desc      基础变量，使用这里变量，方便全局调整css
 * @author    yijie
 * @date      2020-09-08
 * @logs[0]   yijie 2020-09-08 添加头部注释
 */
/**
  格式
  page-background:  页面背景色,
  vice-background:  页面二选背景色,
  background:       主背景色,
  font-color:       与主背景色相搭的文本字体色,
  title-color:      标题色,
  border:           边框色,
*/
// 浅色系
$shallow-blue: (
  page-background:  #ffffff,
  vice-background:  #fefefe,
  background:       #3a8ee6,
  font-color:       #e8e8e8,
  title-color:      #000000,
  border:           #78bbef,
);

//深色模式（夜间）
$dark-black: (
  page-background:  #171514,
  vice-background:  #232222,
  background:       #153557,
  font-color:       #e8e8e8,
  title-color:      #e8e8e8,
  border:           #485c6c,
);

// 当前使用的颜色系
$use-colors: $shallow-blue;

// 屏幕大小常量
$width-medium:  450px;
$width-large:   1200px;
