.main {
  padding: {
    left: 150px;
    right: 150px;
  };
  .top-carousel {
    margin-top: 20px;
  }
  .panels {
    padding: {
      top: 20px;
      bottom: 20px;
    };
    width: 100%;

    > .panel {
      float: left;
      margin: {
        bottom: 20px;
        left: 10px; right: 10px;
      };
      border-radius: 8px;

      .panel-label {
        @extend .a-link;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray;
        font-size: 26px;
        font-weight: 1000;

        .options {
          float: right;
          user-select: none;
          i {
            display: inline-block;

            transition: .2s;
            &.is-show-content.left {
              transform: rotate(-90deg);
            }
          }
        }
      }
      .content {
        max-height: 1000px;
        overflow: hidden;
        transition: .2s;
      }
      .content.dontShowContent {
        max-height: 0;
      }

      &.articles {
        width: 350px;
        .article {
          padding-bottom: 20px;
          margin-top: 10px;
          border-bottom: 1px solid lightgray;
          .title {
            @extend .a-link;
            font-size: 20px;
            font-weight: 1000;
            color: #78bbef;
          }
          .messages {
            margin-bottom: 10px;
            font-size: 14px;
            color: #c2c2c2;
            .author {
              position: relative;float: left;
              margin-right: 10px;
            }
            .date {
              position: relative;float: left;
            }
          }
          .content {
            font-size: 16px;
            color: #7f7f7f;
          }
        }
      }
      &.mark {
        width: 750px;
      }
      &.messages {
        width: calc(100% - 1166px);
        .message {
          margin: 10px;
          width: calc(100% - 20px);
        }
      }
      &.webs {
        width: calc(100% - 20px);

        .web {
          @extend .a-link;
          position: relative;float: left;
          margin: 10px;
          width: 128px; height: 148px;

          /deep/ .el-card__body {
            padding: {
              top: 10px;bottom: 10px;
              left: 14px;right: 14px;
            };
          }
          .icon {
            width: 100px;height: 100px;
          }
          .label {
            width: 100%;
            text-align: center;

            font: {
              size: 18px;
              weight: bold;
            };
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
