/**
 * @desc      主页面css文件 resource.scss
 * @author    yijie
 * @date      2020-09-10
 * @logs[0]   yijie 2020-09-10 创建了文件resource.scss
 */
.Resource-main{
  padding: {
    top: 30px; bottom: 60px;
  };
  .tabs-header {
    $tabs-header-height: 50px;
    margin-top: 20px;
    padding: {
      left: 100px; right: 100px;
    };
    width: calc(100% - 200px);height: $tabs-header-height;
    line-height: $tabs-header-height;

    .search-input {
      float: right;
      width: 300px;
    }
  }
  .tabs {
    padding: {
      left: 100px; right: 100px;
    };

    /deep/ .el-tabs__active-bar {
      height: 2px;
      border-radius: 1px;
    }
    /deep/ .el-tabs__nav-wrap::after {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
