.Resource-main{
  padding: {
    top: 30px; bottom: 60px;
  };
  .tabs {
    padding: {
      left: 100px; right: 100px;
    };

    /deep/ .el-tabs__active-bar {
      height: 2px;
      border-radius: 1px;
    }
    /deep/ .el-tabs__nav-wrap::after {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
